<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Login</title>
</head>
<body>
    <section class="loginSection">
        <h1 class="heading">Please Login.</h1>
        <form class="loginForm" action="/" method="POST">
            <input type="username" placeholder="username" class="input">
            <input type="password" placeholder="password" class="input">
            <button type="submit" class="btn">Login</button>
        </form>
    </section>
</body>
</html>