<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Names</a></li>
            <li class="main-header__item"><a class="<%= path === '/add-name' ? 'active' : '' %>" href="/add-name">Add Names</a></li>
        </ul>
    </nav>
</header>